@{
    ViewBag.Title = "Home Page";
}
<section class="carousel slide cid-rgUz6ueTHb" data-interval="false" id="slider1-3">

    <div class="full-screen"><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider1-3" class=" active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider1-3" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider1-3" data-slide-to="2"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(/img/Sslide_3.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="~/img/1.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><h2 class="mbr-fonts-style display-1">My College</h2><p class="lead mbr-text mbr-fonts-style display-5">Choose from the many Course we give.</p></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/img/Sslide_1.jpg);"><div class="mbr-overlay"></div><div class="container container-slide"><div class="image_wrapper"><img src="~/img/2.jpg" style="opacity: 0;"><div class="carousel-caption justify-content-center"><div class="col-10 align-left"><h2 class="mbr-fonts-style display-1">our Cumpas</h2><p class="lead mbr-text mbr-fonts-style display-5">Slide Video from  our youtube Channel.</p></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/img/slide_4.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="~/img/3.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-1">Our Courses</h2><p class="lead mbr-text mbr-fonts-style display-5">Choose from the many selection of latest Courses  and Explore them.</p><div class="mbr-section-btn" buttons="0"></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-3"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-3"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div></div>
</section>
<section class="engine"><a href="https://mobirise.info">Mobirise</a></section>
<section class="features9 cid-rgUzFkGl8g" id="features9-6">


    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-features mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            coding
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6">
                <div class="media-container-row">
                    <div class="card-img pr-2">
                        <span class="mbri-star mbr-iconfont"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Health
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="features3 cid-rgUyOFfpVn" id="features3-2">


    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/img/01.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Marcketing
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">

                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/img/02.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            literature
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">

                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/img/03.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Programing
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                        </p>
                    </div>
                    <div class="mbr-section-btn text-center">

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="features5 cid-rgUzHkKHyL" id="features5-7">



    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-bootstrap mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">
                        Marcketing
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-touch mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">
                        literature
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-img pb-3">
                    <span class="mbri-responsive mbr-iconfont"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-7">
                        Programing
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="features16 cid-rgUzJ4Inig" id="features16-8">



    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            OUR AWESOME TEAM
        </h2>
        <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
            OUr school is the most  advance in the the nation in nmost of our courses and we always try to make it better!!
        </h3>
        <div class="row media-row">

            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="~/img/face6.jpg">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Bereket Yohannes
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/mobirise/" target="_blank">

                        </a>
                        <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                        </a>
                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="~/img/face6.jpg">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Bereket Yohannes
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/mobirise/" target="_blank">

                        </a>
                        <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                        </a>
                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="~/img/face6.jpg">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Bereket Yohannes
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/mobirise/" target="_blank">

                        </a>
                        <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                        </a>
                    </div>
                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="~/img/face6.jpg">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            John Smith
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                            <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                        <a href="https://www.instagram.com/mobirise/" target="_blank">

                        </a>
                        <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top:70px !important;" class="cid-rgUzllZXKT" id="footer1-4">


    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-3">
                <div class="media-wrap">

                </div>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Address
                </h5>
                <p class="mbr-text">
                    1234 Yohannes Street
                    <br>Addis Ababa , Megenagna
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Contacts
                </h5>
                <p class="mbr-text">
                    Email: support@MyCollege.com
                    <br>Phone: (+251) 910 127 680
                    <br>Fax: (+23) 136516216512
                </p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    Links
                </h5>
                <p class="mbr-text">
                    <a class="text-primary" href="https://Facebook.com">Our Facebook </a>
                    <br><a class="text-primary" href="https://Instagram.com/">  our Instagram</a>
                    <br><a class="text-primary" href="https://Tweeter.com/">OUr  Twitter</a>
                </p>
            </div>
        </div>

    </div>
</section>

<section once="" class="cid-rgUzpzcAOs" id="footer6-5"></section>
<section once="" class="cid-rgUzpzcAOs" id="footer6-5">


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>